<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header class="justify-space-between align-center p-2 bg-primary">
      <div class="col-md-6">
      <h1 class="text-white">
        Tech Blog
      </h1>
      </div>
      <div class="col-md-6">
        <nav>
        <!--always render home-->
        <a href="/" id="home" class="text-white">Home</a>  
        <!-- Conditionally render login, profile and logout buttons -->
        {{#if logged_in}}
        <a href="/profile" id="profile" class="text-white">Profile</a> 
        <a href="#" id="logout" class="text-white">Logout</a>
        {{else}}
        <a href="/login" id="logout" class="text-white">Login</a>
        {{/if}}       
      </nav>
      </div>
      
    </header>

         


    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
