 <div id="login-section">
            <h2>Login</h2>
            <form class="login-form">
                <p>Username</p>
                <input type="text" placeholder="Username" id="username">
                <p>Password</p>
                <input type="text" placeholder="Password" id="password">
                <button>Login</button>
                <hr/>
                <p><a href="#signup-section" id="signup-link">Don't have an account? Sign up.</a></p>
            </form>
            
        </div>
        <div id="signup-section">
            <h2>Sign Up</h2>
            <form class="signup-form">
                <p>Name</p>
                <input type="text" placeholder="Name" id="new-name">
                <p>Username</p>
                <input type="text" placeholder="Username" id="new-username">
                <p>Password</p>
                <input type="text" placeholder="Password" id="new-password">
                <button>Sign Up</button>
            </form>
            
        </div>
    </main>

    <script src="./js/login.js"></script>
